:root {
  --theme: #0C090D;
  --white: #EBF5DF;
  --accent: #E53D00;
  --base_font: 'Roboto', sans-serif;
  --accent_font: 'Syne Mono', monospace;

/// https://coolors.co/generate
///  --theme: #353531;
///  --white: #f0eff4;
///  --accent: #ec4e20;
}

body {
	background-color: var(--white);
	font-family: var(--base_font);
}

///mobile set up
nav.site-nav {
background-color: var(--theme)
}


.svg {
    fill: var(--white);
}


///end


.text-highlight {
	color: var(--accent);
}


.site-footer, .site-header, .site-title, .site-title:visited, .page-link, .page-link:visited {
	color: var(--white);
	font-family: var(--accent_font);
        background-color: var(--theme);
}

.rss-subscribe, a.post-link, .post-list-heading, .post-meta {
        font-family: var(--accent_font);
        color: var(--theme);        
}

a, a:visited, .username {
  color: var(--accent);
  }

.u-email:hover, .username:hover {
  color: var(--white); 
  }


h1 {
	font-family: var(--accent_font);
    	font-size: 22px;
    	color: var(--theme);
	text-align: center;
}

///svg test

.sprite { 
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 20%;
z-index: -1;
fill: var(--accent);
transform: rotate(180deg);	
}
