:root {
  --theme: #2C363F;
  --white: #fffcff;
  --accent: #ca054d;
  --base_font: 'Roboto', sans-serif;
  --accent_font: 'Gloria Hallelujah', cursive;


/// Original Colours - https://coolors.co/generate
///  --theme: #353531;
///  --white: #f0eff4;
///  --accent: #ec4e20;
	

/// Font options - https://fonts.google.com/
/// 'Permanent Marker', cursive;
/// 'Gloria Hallelujah', cursive;
/// 'Roboto', sans-serif;
/// 'Syne Mono', monospace;
}

body {
	background-color: var(--white);
	font-family: var(--base_font);
}

///mobile set up
nav.site-nav {
background-color: var(--theme)
}
///end


.text-highlight {
	color: var(--accent);
}


.site-footer, .site-header, .site-title, .site-title:visited, .page-link, .page-link:visited {
	color: var(--white);
	font-family: var(--base_font);
        background-color: var(--theme);
}

.rss-subscribe, a.post-link, .post-list-heading, .post-meta {
        font-family: var(--accent_font);
        color: var(--theme);        
}

a, a:visited, .username {
  color: var(--accent);
  }

.u-email:hover, .username:hover {
  color: var(--white); 
  }

h1 {
	font-family: var(--accent_font);
    	font-size: 22px;
    	color: var(--theme);
	text-align: center;
}


.sprite { 
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 20%;
z-index: -1;
fill: var(--accent);
transform: rotate(180deg);	
}
