:root {
  --theme: #22181C;
  --white: #D0CEBA;
  --accent: #5299D3;
  --base_font: 'Roboto', sans-serif;
  --accent_font: 'Gloria Hallelujah', cursive;


/// Original Colours - https://coolors.co/generate
///  --theme: #2C363F;
///  --white: #fffcff;
///  --accent: #ca054d;
	

/// Font options - https://fonts.google.com/
/// 'Permanent Marker', cursive;
/// 'Gloria Hallelujah', cursive;
/// 'Roboto', sans-serif;
/// 'Syne Mono', monospace;
}

body {
	background-color: var(--white);
}

///mobile set up
nav.site-nav {
background-color: var(--theme)
}
///end


.text-highlight {
    color: var(--accent);
}

a:hover {
    color: var(--theme);
}



.post-link {
	color: var(--accent);
	font-family: var(--accent_font);
}


.site-footer, .site-header {
	background-color: var(--theme);
    }

a:hover {
  text-decoration: none;
}


.site-title, .trigger, .site-nav, .page-link {
	color: var(--white) !important;
	font-family: var(--accent_font);
        background-color: var(--theme);
	text-decoration: none;
}

.rss-subscribe, .post-list-heading, .post-meta {
        font-family: var(--accent_font);
        color: var(--theme);        
}

a, a:visited, .username {
  color: var(--accent);
  }

.u-email:hover, .username:hover {
  color: var(--white); 
  }

.site-footer {
 font-family: var(--accent_font);
}

h1 {
	font-family: var(--accent_font);
    	font-size: 22px;
    	color: var(--theme);
	text-align: center;
}


.sprite { 
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 20%;
z-index: -1;
fill: var(--accent);
transform: rotate(180deg);	
}
